@charset "UTF-8";
body {
  margin: 0;
  width: 100%;
  font-family: "GothicA1", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

button {
  cursor: pointer;
}

header {
  background: #007AFF;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
}
header .menu.clicked {
  rotate: 90deg;
  transition: 400ms;
}
header .menu {
  display: none;
  margin-right: 35px;
  transition: 400ms;
}
@media screen and (max-width: 640px) {
  header .menu {
    display: block;
  }
}
header nav.menuClicked {
  display: block;
  width: 100%;
  order: 1;
  margin-right: 0;
  padding: 15px 0;
}
header nav.menuClicked ul {
  text-align: center;
  padding: 0;
}
header nav.menuClicked ul li {
  display: block !important; /* Элементы меню в столбец */
  padding: 10px;
}
header nav.menuClicked ul #menuBttn1 {
  width: 50%;
  margin: 0 auto;
}
header nav {
  color: white;
  align-content: center;
  margin-right: 32px;
}
@media screen and (max-width: 640px) {
  header nav {
    display: none;
  }
}
header nav ul {
  color: white;
}
header nav ul #menuBttn1 {
  background-color: #F5F5F5;
  border-radius: 8px;
  color: #000;
}
header nav ul li {
  list-style: none;
  display: inline;
  padding: 8px;
}
header svg {
  margin-left: 32px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 130px;
  background-color: #007AFF;
}
@media screen and (max-width: 440px) {
  footer {
    flex-direction: column;
  }
}
footer #footerLogo {
  width: 190px;
  height: 115px;
  margin-left: 25px;
  text-align: center;
}
@media screen and (max-width: 440px) {
  footer #footerLogo {
    margin-left: 0;
    margin-top: 15px;
  }
}
footer #footerLogo svg {
  width: 73px;
  height: 76px;
}
footer #footerLogo p {
  width: 190px;
  color: #FFF;
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
}
footer ul {
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  row-gap: 15px;
}
@media screen and (max-width: 440px) {
  footer ul {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 21px;
  }
}
footer ul li {
  display: inline-block;
  width: 170px;
  list-style: none;
  font-size: 24px;
  text-align: center;
}
@media screen and (max-width: 440px) {
  footer ul li {
    width: 100%;
  }
}

#preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #007AFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
#preloader svg {
  scale: 2;
}

#preloader.done {
  opacity: 0;
  transition: 1000ms;
}

#LogoTrain {
  animation-name: preloaderAnim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes preloaderAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1px);
  }
  0% {
    transform: translateY(0);
  }
}
main h2 {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  width: 100%;
}
main #filter {
  width: 90%;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}
main #filter select {
  width: 40%;
  max-width: 150px;
  height: 45px;
  border: #007AFF 1px solid;
  border-radius: 35px;
  text-align: center;
  font-size: 20px;
}
main #filter select:focus {
  border-color: #007AFF;
}
main #filter select:focus-visible {
  outline: #007AFF;
}
main #blox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
main #blox div {
  width: 300px;
  min-height: 300px;
  background-color: #f5f5f5;
  margin-bottom: 40px;
  border-radius: 35px;
  text-align: center;
  box-shadow: 5px 6px 43px 4px rgba(0, 0, 0, 0.25);
}
main #blox div p {
  font-size: 20px;
  margin: 16px 10%;
}
main #blox div #price {
  color: #007AFF;
}
main #blox div button {
  width: 140px;
  height: 29px;
  background-color: #007AFF;
  color: #fff;
  border: none;
  border-radius: 35px;
  margin-bottom: 15px;
}
main .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
main .modal .modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  max-height: 600px;
  background: #f5f5f5;
  border-radius: 15px;
  margin: auto;
  box-shadow: 5px 6px 43px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 640px) {
  main .modal .modal-content {
    width: 90%;
    height: 100vh;
  }
}
main .modal h2 {
  font-size: 30px;
  padding-top: 25px;
}
main .modal p {
  margin-bottom: 15px;
  font-size: 18px;
}
main .modal #pFio {
  margin-bottom: 0px;
}
main .modal #pPhone {
  margin-bottom: 0px;
}
main .modal input, main .modal select {
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  width: 93%;
  max-width: 315px;
  padding: 10px;
  height: 36px;
  background-color: #FFF;
  border: none;
  border-radius: 35px;
  box-shadow: 4px 5px 43px -3px rgba(0, 0, 0, 0.25);
  margin-bottom: 11px;
  transition: 800ms;
}
main .modal input:hover {
  box-shadow: 4px 5px 43px 5px rgba(0, 0, 0, 0.25);
  transition: 800ms;
}
main .modal input:focus {
  outline: 2px #007AFF solid !important;
}
main .modal input:focus-visible {
  outline: 2px #007AFF solid !important;
}
main .modal select:focus {
  outline: 2px #007AFF solid !important;
}
main .modal select:focus-visible {
  outline: 2px #007AFF solid !important;
}
main .modal button {
  width: 60%;
  max-width: 198px;
  height: 47px;
  font-size: 18px;
  background-color: #007AFF;
  color: #fff;
  border: none;
  border-radius: 35px;
  margin-bottom: 35px;
}
main .modal .close-button {
  position: relative;
  width: 45px;
  height: 47px;
}
main .modal #formPrice {
  color: #007AFF;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
}/*# sourceMappingURL=tickets.css.map */