@import "basicUI";

main {
    h2 {
        text-align: center;
        font-size: 40px;
        font-weight: normal;
        width: 100%;
    }

    #contactForm {
        max-width: 740px;
        width: 93%;
        min-height: 425px;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
        background-color: #F5F5F5;
        border-radius: 35px;
        box-shadow: 5px 6px 43px 4px rgba(0, 0, 0, 0.25);

            h4 {
                font-size: 24px;
                font-weight: normal;
                text-align: center;
                padding-top: 24px;
            }
            
            label {
                font-size: 22px;
                display: block;
                height: 28px;
            }
            input {
                font-size: 22px;
                text-align: center;
                box-sizing: border-box;
                width: 93%;
                max-width: 315px;
                padding: 10px;
                height: 48px;
                background-color: #FFF;
                border: none;
                border-radius: 35px;
                box-shadow: 4px 5px 43px -3px rgba(0, 0, 0, 0.25);
                margin-bottom: 11px;
                transition: 800ms;
            }
            input:hover {
                box-shadow: 4px 5px 43px 5px rgba(0, 0, 0, 0.25);
                transition: 800ms;
            }

            input:focus {
                outline: 2px #007AFF solid !important;
            }
            input:focus-visible {
                outline: 2px #007AFF solid !important;
            }
            

            button {
                width: 93%;
                max-width: 315px;
                height: 48px;
                margin-bottom: 25px;
                margin-top: 15px;
                background-color: #007AFF;
                border: none;
                border-radius: 35px;
                color: #FFF;
                box-shadow: 0px 2px 16.6px 5px rgba(0, 0, 0, 0.25);
                transition: 500ms;
                span {
                    font-size: 22px;
                }
            }
            button:hover {
                scale: 0.99;
                transition: 500ms;
            }
    }

    #notification {
        max-width: 740px;
        width: 93%;
        margin: 0 auto;
        margin-bottom: 50px;
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background-color: #F5F5F5;
        border-radius: 35px;
        box-shadow: 5px 6px 43px 4px rgba(0, 0, 0, 0.25);

        h3 {
            font-size: 32px;
            font-weight: normal;
        }

        p {
            font-size: 24px;
        }

        button {
            width: 93%;
            max-width: 315px;
            height: 47px;
            background-color: #007AFF;
            border: none;
            border-radius: 35px;
            color: #FFF;
            box-shadow: 0px 2px 16.6px 5px rgba(0, 0, 0, 0.25);
            transition: 500ms;
            margin-bottom: 25px;
            font-size: 22px;
        }

        button:hover {
            scale: 0.99;
            transition: 500ms;
        }
    }
}
